@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@200;300;400;500;600;700;800;900&family=Syne:wght@400;500;600&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Quicksand:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;600;700;800;900&family=Secular+One&display=swap');
@font-face {font-family: blanka; src: url('https://res.cloudinary.com/iodiary/raw/upload/v1641255618/fonts/blanka_naxhhv.otf');
    font-display: swap;}
@font-face {font-family: phantom; src: url('https://res.cloudinary.com/iodiary/raw/upload/v1641255621/fonts/phantom_wxqtkb.otf');
    font-display: swap;}
@font-face {font-family: cubano; src: url('https://res.cloudinary.com/iodiary/raw/upload/v1641255618/fonts/cubano_bcjpiu.ttf');
    font-display: swap;}

:root{
    --accent-color: #0052FF;
	--accent-hover: #0052FF33;
    --accent-transparent: #5D26C133;
    --dark-blue: #000010;
    --dim-blue: #010025;
    --dark-black: #0a0a0a;
	--black: #000000;
    --white: #ffffff;
	--milk: #f5f6f7;
	--maitree: 'Maitree', serif;
	--syne: 'Syne', sans-serif;
	--slab: 'Roboto Slab', serif;
	--lato: 'Lato', sans-serif;
    --mulish: 'Mulish', sans-serif;
	--karla: 'Karla', sans-serif;
	--noto: 'Noto Sans JP', sans-serif;
	--quicksand: 'Quicksand', sans-serif;
	--rubik: 'Rubik', sans-serif;
	--secular: 'Secular One', sans-serif;
	--blanka: blanka;
    --cubano: cubano;
    --phantom: phantom;
	--slate: #8892b0;
	--light-slate: #a8b2d1;
	--lightest-slate: #ccd6f6;
    --dark-slate: #495670;
	--dark-purple: #7F00FF;
	--custom-green: #45a247;
	--custom-red: red;
}

body{
    background-color: var(--milk)!important;
    -moz-osx-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    user-zoom: none!important;
    -webkit-user-zoom: none!important;
    -moz-user-zoom: none!important;
	scroll-behavior: smooth!important;
	padding: 0px;
	margin: 0px;
}
html{
    scroll-behavior: smooth!important;
}
a{
    text-decoration: none!important;
    -moz-touch-callout: none!important;
    -webkit-touch-callout: none!important;
}
img{
    -moz-touch-callout: none!important;
    -webkit-touch-callout: none!important;
    object-fit: cover!important;
    object-position: center!important;
}
.Toastify .Toastify__toast-body{
    font-family: var(--slab)!important;
	font-weight: 400!important;
	font-size: 12px;
}
.spin svg{
    -webkit-animation: spin-animation 0.7s infinite linear;
    animation: spin-animation 0.7s infinite linear;
}

/* Navbar Style */
.captionNotification{
	background-color: var(--accent-color);
	width: 100%;
	margin: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.captionNotification p{
	margin: 0px;
	font-family: var(--syne);
	font-weight: 500!important;
	font-size: 14px;
	color: var(--white);
	display: block;
	text-align: center;
	width: 100%;
	padding: 15px 10px;
}
.captionNotification p a{
	color: var(--white);
	text-decoration: underline!important;
	font-family: var(--secular);
	margin-left: 5px;
}
.customNav{
	padding: 20px 40px;
	background-color: var(--milk);
}
.customNav ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}
.customNav ul div{
	display: flex;
	align-items: center;
}
.customNav ul div li{
	border: none;
	margin: 0px 10px;
}
.customNav ul div li a{
	padding: 10px 15px;
	display: flex;
	font-family: var(--syne);
	font-weight: 500!important;
	font-size: 13px;
	transition: 0.4s all ease-in-out;
	color: var(--dark-slate);
}
.customNav ul div li a.active{
	color: var(--accent-color);
}
.customNav ul div li a:hover{
	color: var(--accent-color);
}
.customNav ul div li a.title{
	font-size: 18px;
	font-family: var(--secular);
	font-weight: 800!important;
	color: orange;
}
.customNav ul div li a.title span{
	color: var(--black);
	margin-left: 5px;
}
.customNav ul div li a#getStarted{
	background-color: var(--accent-color);
	border-radius: 5px;
	color: var(--white);
}
.customNav ul div li a#getStarted:hover{
	background-color: var(--accent-hover);
	color: var(--accent-color);
}

/* App Style Section */
.App{
	padding: 0px;
	background-color: var(--milk);
	scroll-behavior: smooth!important;
    overflow-x: hidden!important;
}
#scrollContainer{
	scroll-behavior: smooth!important;
}

/* App Styles */
	/* General Section Designs */
.App span.sectionCaption{
	font-weight: 500!important;
	font-family: var(--slab);
	font-size: 15px;
	display: inline-block;
	padding: 0px 5px;
	color: var(--dark-purple);
}
.App h3.sectionTitle{
	margin: 0px;
	font-family: var(--secular);
	font-size: 25px;
	font-weight: 700!important;
	padding: 5px;
	color: rgba(0,0,0,0.9);
}
.App p.sectionSubTitle{
	font-size: 14px;
	color: var(--dark-slate);
	font-weight: 500!important;
	font-family: var(--syne);
	margin: 0px;
	padding: 5px 10px;
}

	/* Header Section */
.App .headerSection{
	padding: 90px 50px;
}
.App .headerSection .leftHeaderSection{
	border: none;
	padding: 10px 0px;
}
.App .headerSection .leftHeaderSection span{
	font-weight: 500!important;
	font-family: var(--syne);
	font-size: 12px;
	display: inline-block;
	padding: 7px 15px;
	background-color: var(--white);
	color: var(--black);
	border-radius: 5px;
}
.App .headerSection .leftHeaderSection span i{
	font-style: normal;
	color: var(--dark-purple);
}
.App .headerSection .leftHeaderSection h1.headerTitle{
	font-size: 48px;
	display: block;
	font-weight: 900!important;
	font-family: var(--secular);
	color: var(--black);
	margin: 0px;
	padding: 20px 0px;
}
.App .headerSection .leftHeaderSection h1.headerTitle strong{
	font-weight: 700!important;
}
.App .headerSection .leftHeaderSection p.headerSubtitle{
	font-size: 15px;
	color: var(--dark-slate);
	font-weight: 500!important;
	font-family: var(--syne);
	margin: 0px;
	padding: 10px 0px;
	padding-right: 60px;
}
.App .headerSection .leftHeaderSection div.buttonDiv{
	padding: 45px 0px;
}
.App .headerSection .leftHeaderSection div.buttonDiv a{
	padding: 16px 25px;
	border-radius: 8px;
	font-family: var(--syne);
	font-size: 14px;
	font-weight: 500!important;
	background-color: var(--accent-color);
	color: var(--white);
	transition: 0.4s all ease-in-out;
}
.App .headerSection .leftHeaderSection div.buttonDiv a:hover{
	background-color: var(--dark-purple);
}
.App .headerSection .rightHeaderSection{
	border: none;
	text-align: center;
} 
.App .headerSection .rightHeaderSection img{
	width: 70%!important;
	height: 70%!important;
	object-fit: cover!important;
	object-position: center!important;
}

.App .moreAboutSection{
	padding: 20px 0px;
}
.App .moreAboutSection .scrollButtonDiv{
	display: flex;
	align-items: center;
	justify-content: center;
}
.App .moreAboutSection .scrollButtonDiv button{
	border: none;
	box-shadow: none;
	outline: none;
	color: var(--black);
	font-size: 25px;
	background-color: transparent;
	transition: 0.3s all ease-in-out;
	padding: 5px;
}
.App .moreAboutSection .scrollButtonDiv button:hover{
	margin-top: 15px;
}
.App .moreAboutSection .moreAboutContent{
	padding: 30px 100px;
}
.App .moreAboutSection .moreAboutContent .moreAboutCard{
	padding: 20px 0px;
}
.App .moreAboutSection .moreAboutContent .moreAboutCard .contentDiv{
	padding: 30px 0px;
}
.App .moreAboutSection .moreAboutContent .moreAboutCard .contentDiv h3{
	margin: 0px;
	font-family: var(--secular);
	font-size: 22px;
	font-weight: 700!important;
	padding: 5px 0px;
	color: rgba(0,0,0,0.9);
}
.App .moreAboutSection .moreAboutContent .moreAboutCard .contentDiv p{
	font-size: 14px;
	color: var(--dark-slate);
	font-weight: 500!important;
	font-family: var(--syne);
	margin: 0px;
	padding: 5px 0px;
}
.App .moreAboutSection .moreAboutContent .moreAboutCard .imageDiv{
	border: 2px solid red;
	border: none;
}
.App .moreAboutSection .moreAboutContent .moreAboutCard .imageDiv img{
	width: 100%;
	height: 280px;
	object-fit: contain!important;
	object-position: center!important;
}

.App .callToAction{
	padding: 50px 0px;
	--mask: radial-gradient(178.89px at 50% calc(100% - 240.00px),#000 99%,#0000 101%) calc(50% - 160px) 0/320px 100%, radial-gradient(178.89px at 50% calc(100% + 160.00px),#0000 99%,#000 101%) 50% calc(100% - 80px)/320px 100% repeat-x;
	-webkit-mask: var(--mask);
	mask: var(--mask);
}
.App .callToAction .ctoDiv{
	padding: 150px 70px;
	background-color: #24292E;
}
.App .callToAction .ctoDiv .contentDiv h3{
	margin: 0px;
	font-family: var(--secular);
	font-size: 35px;
	font-weight: 600!important;
	padding: 5px 0px;
	color: rgba(255,255,255,0.9);
}
.App .callToAction .ctoDiv .contentDiv p{
	font-size: 15px;
	color: var(--white);
	font-weight: 500!important;
	font-family: var(--syne);
	margin: 0px;
	padding: 15px 0px;
}
.App .callToAction .ctoDiv .contentDiv .buttonDiv{
	padding: 20px 0px;
}
.App .callToAction .ctoDiv .contentDiv .buttonDiv a{
	padding: 17px 25px;
	border-radius: 8px;
	font-family: var(--syne);
	font-size: 14px;
	font-weight: 500!important;
	background-color: var(--accent-color);
	color: var(--white);
	transition: 0.4s all ease-in-out;
}
.App .callToAction .ctoDiv .contentDiv .buttonDiv a:hover{
	background-color: var(--accent-hover);
}
.App .callToAction .ctoDiv .imageDiv{
	padding: 15px;
	display: block;
}
.App .callToAction .ctoDiv .imageDiv img{
	width: 70%;
	height: 350px;
	object-fit: contain!important;
	object-position: center!important;
}
.App .callToAction .ctoDiv .imageDiv img:last-child{
	margin-top: -50px!important;
	margin-left: 200px;
}


.App .newsLetterSection{
	padding: 100px 50px;
}
.App .newsLetterSection .newsLetterContent{
	padding: 20px 0px;
	display: flex;
	justify-content: center;
}
.App .newsLetterSection .newsLetterContent .inputDiv{
	padding: 10px 15px;
	border-radius: 10px;
	background-color: var(--white);
	width: 450px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.App .newsLetterSection .newsLetterContent .inputDiv input{
	background-color: var(--white)!important;
	border: none;
	outline: none;
	box-shadow: none;
	padding: 15px 25px;
	font-family: var(--syne);
	font-size: 14px;
	font-weight: 500!important;
	width: 100%;
}
.App .newsLetterSection .newsLetterContent .inputDiv button{
	padding: 12px 25px;
	border-radius: 8px;
	font-family: var(--syne);
	font-size: 14px;
	font-weight: 500!important;
	background-color: var(--accent-color);
	color: var(--white);
	transition: 0.4s all ease-in-out;
	border: none;
	box-shadow: none;
	outline: none;
}

.App .shortTextSection{
	padding: 20px 0px;
}
.App .shortTextSection .shortTextDiv{
	background-color: #E9EBEE;
	padding: 100px;
}
.App .shortTextSection .shortTextDiv h3{
	margin: 0px;
	font-size: 20px;
	font-family: var(--secular);
	font-weight: 800!important;
	color: orange;
}
.App .shortTextSection .shortTextDiv h3 span{
	color: var(--black);
}
.App .shortTextSection .shortTextDiv p{
	font-size: 14px;
	color: var(--black);
	font-weight: 500!important;
	font-family: var(--syne);
	margin: 0px;
	padding: 15px 0px;
}

.App .poweredBySection{
	padding: 30px 0px;
}
.App .poweredBySection h4{
	margin: 0px;
	text-align: center;
	font-weight: 500!important;
	font-size: 14px;
	font-family: var(--syne);
	color: var(--black);
}
.App .poweredBySection .poweredByContent{
	padding: 40px 100px;
	display: flex;
	justify-content: space-between;
}
.App .poweredBySection .poweredByContent img{
	text-align: center;
	width: 12%!important;
	object-fit: contain!important;
	object-position: center!important;
	cursor: pointer;
	transition: 0.4s all ease-in-out;
	padding: 10px;
}
.App .poweredBySection .poweredByContent img:hover{
	transform: scale(1.2);
}

/* Footer Styles */
.customFooter{
	padding: 50px 100px;
}
.customFooter .footerCard{
	padding: 70px 60px;
	padding-bottom: 60px;
	border-radius: 30px;
	background-image: linear-gradient(0deg, rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url('https://res.cloudinary.com/ruthless-labs/image/upload/v1667911767/spacebank/ija02ta5ektvizgtwlhs.png');
	/* background-color: var(--white); */
}
.customFooter .footerCard h3.footerTitle{
	font-size: 15px;
	font-family: var(--secular);
	font-weight: 700!important;
	color: var(--black);
	text-transform: uppercase;
	margin: 0px;
}
.customFooter .footerCard p.footerSubtitle{
	margin: 0px;
	padding: 10px 2px;
	font-family: var(--syne);
	font-size: 13px;
	font-weight: 500!important;
}
.customFooter .footerCard ul.footerIconList{
	list-style: none;
	padding: 10px 40px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin: 0px;
	display: flex;
}
.customFooter .footerCard ul.footerIconList li{
	margin-right: 15px;
}
.customFooter .footerCard ul.footerIconList li a{
	display: block;
	width: 100%;
	padding: 5px;
	padding-top: 2px;
	color: var(--dark-slate);
	font-size: 18px;
	transition: 0.3s all ease-in-out;
}
.customFooter .footerCard ul.footerIconList li a:hover{
	color: var(--accent-color);
}
.customFooter .footerCard .secondFooterCard{
	padding: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
}
.customFooter .footerCard .secondFooterCard h4{
	font-size: 15px;
	font-family: var(--secular);
	font-weight: 500!important;
	color: var(--black);
	margin: 0px;
}
.customFooter .footerCard .secondFooterCard ul{
	list-style: none;
	display: block;
	padding: 10px 1px;
	margin: 0px;
}
.customFooter .footerCard .secondFooterCard ul li{
	border: none;
}
.customFooter .footerCard .secondFooterCard ul li a{
	display: block;
	width: 100%;
	font-family: var(--syne);
	font-size: 12px;
	font-weight: 500!important;
	padding: 3px;
	color: var(--dark-slate);
	transition: 0.4s all ease-in-out;
}
.customFooter .footerCard .secondFooterCard ul li a:hover{
	color: var(--accent-color);
}

/* App Loader */
.appLoader{
	width: 100%;
	height: 100%;
	z-index: 7000!important;
	background-color: var(--white);
	animation: leaves 1s ease-in-out infinite alternate;
	-webkit-animation: leaves 1s ease-in-out infinite alternate;
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-user-select: none!important;
	user-select: none!important;
}
.appLoader p{
	margin: 0px;
	color: var(--dark-slate);
	font-family: var(--inter);
	font-weight: 600!important;
	cursor: text;
}
.appLoader p span{
	color: var(--accent-color);
}

/* Animation Styles */
@-webkit-keyframes spin-animation {
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    0% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spin-animation {
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    0% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes leaves {
	0% {
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
	100% {
		transform: scale(1.8);
		-webkit-transform: scale(1.8);
	}
}